extends layout/main.pug

block vars
  - var { pageTitle, headerTitle, headerImage } = pages.main;

block content

  section.section.section--half-gray
    .section__inner
      h2.section__title О ваших выгодах за 60 секунд
      .section__content.center
        .responsive-video.js-youtube(data-embed='dQw4w9WgXcQ')
          .responsive-video__button

  section.section
    .section__inner
      h2.section__title Что мы предлагаем
      .section__content.services
        each service in services
          .services__item
            .service(class=`service--${service.type}`)
              .service__title!= service.title
              .service__subtitle!= service.subtitle
              .service__desc!= service.desc
              a(href='#').button.service__button Подробнее

  include includes/section-in-numbers.pug

  +section-cards

  include includes/section-partners.pug
