extends layout/main.pug

block vars
  - var { pageTitle, headerTitle, headerImage } = pages.newBuildings;

block content

  +section-features(features.newBuildings)

  +section-guarantees(guarantees.newBuildings)

  +section-cards(cards.filter(card => card.type === 'new-building'), 'houses', 'Более 200 новостроек в Краснодаре')

  section.section.section--gray
    .section__inner
      h2.section__title Подборать квартиру в новостройке
      .section__content(style='min-height: 500px')

  include includes/section-in-numbers.pug

  +section-cards(reviews.filter(item => item.type === 'new-building'))

  include includes/section-partners.pug
