extends layout/main.pug

block vars
  - var { pageTitle, headerTitle, headerImage } = pages.oldBuildings;

block content

  +section-features(features.oldBuildings)

  +section-guarantees(guarantees.oldBuildings)

  +section-cards(cards.filter(card => card.type === 'old-building'), 'houses', 'Более 36 000 объектов в Краснодаре')

  +section-form(forms.oldBuilding)

  include includes/section-in-numbers.pug

  +section-cards(reviews.filter(item => item.type === 'old-building'))

  include includes/section-partners.pug
