extends layout/main.pug

block vars
  - var { pageTitle, headerTitle, headerImage } = pages.sale;

block content

  +section-features(features.sale)

  +section-guarantees(guarantees.sale)

  +section-cards(cards.filter(card => card.type === 'sale'), 'houses', 'Последние проданные объекты')

  +section-form(forms.sale)

  include includes/section-in-numbers.pug

  +section-cards(reviews.filter(item => item.type === 'sale'))

  include includes/section-partners.pug