extends layout/main.pug

block vars
  - var { pageTitle, headerTitle, headerImage } = pages.sale;

block content

  +section-features(features.sale)

  +section-guarantees(guarantees.sale)

  include includes/section-in-numbers.pug

  +section-reviews(reviews.filter(item => item.type === 'sale'))

  include includes/section-partners.pug