include ../mixins/circle-form.pug
include ../mixins/privacy-policy.pug
include ../mixins/section-cards.pug
include ../mixins/section-form.pug
include ../mixins/section-features.pug
include ../mixins/section-guarantees.pug

block vars

doctype html
html(lang='ru')
  include ../includes/head.pug
  body
    include ../includes/header.pug

    block content

    include ../includes/footer.pug
