%transition {
  transition-timing-function: $transition-function;
  transition-duration: $transition-duration;
}

html {
  font-size: 14px;

  @media (min-width: $screen-sm) {
    font-size: 15px;
  }

  @media (min-width: $screen-md) {
    font-size: 16px;
  }
}

body {
  font-family: $font-primary-fallback;
  // font-family: $font-primary;
  line-height: $global-line-height;
  color: $color-text-dark;

  .fonts-loaded & {
    font-family: $font-primary;
  }

  &.popup-open {
    overflow: hidden;
  }
}

a {
  @extend %transition;

  color: $color-fourthly;
  text-decoration: none;
  transition-property: color;

  &:hover {
    color: $color-primary;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.green {
  color: $color-secondary;
}

.orange {
  color: $color-thirdly;
}

.blue {
  color: $color-fourthly;
}

.button {
  @extend %transition;

  display: inline-block;
  padding: 12px 23px;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  background: $color-primary;
  color: $color-text-light;
  cursor: pointer;
  transition-property: color, background-color;

  &:hover {
    background: darken($color-primary, 5%);
    color: darken($color-text-light, 5%);
  }

  &--secondary {
    background: $color-secondary;

    &:hover {
      background: darken($color-secondary, 5%);
    }
  }
}

.tooltip {
  position: absolute;
  padding: 10px;
  margin-bottom: 5px;
  font-size: rem(15px);
  background: $color-primary;
  color: $color-text-light;
  text-align: center;
  border-radius: 3px;

  &-arrow {
    width: 0;
    height: 0;
    position: absolute;
    margin: 5px;
    border-style: solid;
    border-color: $color-primary;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.slider-arrow {
  &-left,
  &-right {
    &::after {
      @extend %transition;

      content: '';
      display: block;
      position: absolute;
      margin-top: -11px;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      border: 1px solid $color-bg-light;
      transition-property: border-color;
    }

    &:hover::after {
      border-color: $color-fourthly;
    }
  }

  &-left::after {
    left: 4px;
    border-top: none;
    border-right: none;
  }

  &-right::after {
    right: 4px;
    border-bottom: none;
    border-left: none;
  }
}

.noUi {
  &-target {
    margin: 4px 0;
    border: none;
    border-radius: 2px;
    background: #e4e4e4;
    box-shadow: none;
  }

  &-connect {
    background: $color-fourthly;
    box-shadow: none;
  }

  &-horizontal {
    $slider-height: 10px;

    height: $slider-height;

    .noUi-handle {
      $width: 18px;
      $height: 18px;

      width: $width;
      height: $height;
      left: 0 - $width / 2;
      top: 0 - ($height - $slider-height) / 2;
      border-radius: 50%;
    }
  }

  &-handle {
    box-shadow: 0 2px 4px rgba(#1d1915, 0.16);
    border-color: $color-fourthly;

    &::before,
    &::after {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.style-select {
  width: 100%;

  .ss {
    &-selected-option {
      @extend %transition;

      padding: 0 40px 0 15px;
      height: rem(40px);
      line-height: rem(40px);
      background: #fff;
      border-color: $color-form-border;
      outline: none;
      transition-property: border-color;

      &:focus {
        border-color: $color-fourthly;
      }

      &::after {
        @extend %icon;

        content: $icon-angle-down;
        padding: 7px 0;
        right: 15px;
        top: 0;
        line-height: 1.5rem;
        font-size: 18px;
      }
    }

    &-dropdown {
      top: 100%;
      z-index: 1;

      .ss-option {
        padding: 6px 15px;

        &.ticked::before {
          display: none;
        }
      }
    }
  }

  &.open {
    .ss-selected-option::after {
      content: $icon-angle-up;
    }

    + .form__label {
      color: $color-fourthly;
    }
  }
}
