@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: normal;
  font-weight: 400;
  src:
    local('TeX Gyre Heros'),
    local('TeXGyreHeros-Regular'),
    url('texgyreheros-regular.woff2') format('woff2'),
    url('texgyreheros-regular.woff') format('woff'),
    url('texgyreheros-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: normal;
  font-weight: 700;
  src:
    local('TeX Gyre Heros Bold'),
    local('TeXGyreHeros-Bold'),
    url('texgyreheros-bold.woff2') format('woff2'),
    url('texgyreheros-bold.woff') format('woff'),
    url('texgyreheros-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: italic;
  font-weight: 400;
  src:
    local('TeX Gyre Heros Italic'),
    local('TeXGyreHeros-Italic'),
    url('texgyreheros-italic.woff2') format('woff2'),
    url('texgyreheros-italic.woff') format('woff'),
    url('texgyreheros-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'TeX Gyre Heros';
  font-style: italic;
  font-weight: 700;
  src:
    local('TeX Gyre Heros Bold Italic'),
    local('TeXGyreHeros-BoldItalic'),
    url('texgyreheros-bolditalic.woff2') format('woff2'),
    url('texgyreheros-bolditalic.woff') format('woff'),
    url('texgyreheros-bolditalic.ttf') format('truetype');
}
